# This file contains common pin mappings for the BIGTREETECH Octopus Max EZ.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.


# ========== OBSZAR ROBOCZY DRUKU (dla slicera) ==========
# X: 12 - 312 mm (300mm)
# Y: 12 - 288 mm (276mm)
# position_max to pełny zasięg mechaniczny głowicy (X=318, Y=305)
# ==========================================================

# Motor-1 (M4)
#dir_pin: !PB9
#enable_pin: !PB7
#microsteps: 16
#rotation_distance: 40
#full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop
#position_min: -5
#position_endstop: 0
#position_max: 319
#homing_speed: 70
#homing_retract_dist: 0

[stepper_x] #M9
step_pin: PC13     
dir_pin: !PC14    
enable_pin: !PE6    
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^!PF0
position_min: 0
position_endstop: 0
position_max: 319
homing_speed: 30
second_homing_speed: 5
homing_retract_dist: 10

# Motor - 2 (M2)
#stepper_x1]
#step_pin: PE4
#dir_pin: !PE5
#enable_pin: !PE3
#rotation_distance: 40
#microsteps: 16
#full_steps_per_rotation: 200

[stepper_x1] #M1
step_pin: PA8      
dir_pin: !PC7      
enable_pin: !PC9   
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200

# Motor-3 (M9)
#[stepper_y]
#step_pin: PA8
#dir_pin: !PC7
#enable_pin: !PC9
#microsteps: 16
#rotation_distance: 40
#full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y1:virtual_endstop
#position_min: -5
#position_endstop: 305
#position_max: 305
#homing_speed: 80
#homing_retract_dist: 0

[stepper_y]
step_pin: PB8      ; Piny z dawnego X
dir_pin: !PB9      ; Bez zmian (zostaje wykrzyknik jaki był w oryginale X)
enable_pin: !PB7   ; Piny z dawnego X
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^!PF3
position_endstop: 265
position_min: 0
position_max: 265
homing_speed: 50
second_homing_speed: 5
homing_retract_dist: 8



# Motor-4 (M1)
#[stepper_y1]
#step_pin: PC13
#dir_pin: !PC14
#enable_pin: !PE6
#rotation_distance: 40
#microsteps: 16
#full_steps_per_rotation: 200

[stepper_y1]
step_pin: PE4      ; Piny z dawnego X1
dir_pin: !PE5      ; Bez zmian
enable_pin: !PE3   ; Piny z dawnego X1
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200

# Motor-5
[stepper_z]
step_pin: PB5 
dir_pin: !PB4
enable_pin: !PB6 
microsteps: 32
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 270
homing_speed: 8.0
second_homing_speed: 3.0
homing_retract_dist: 6.0

# Motor-6
[stepper_z1]
step_pin: PG15
dir_pin: !PB3
enable_pin: !PD5
microsteps: 32
rotation_distance: 8

[stepper_z2]
step_pin:  PD3
dir_pin: !PD2
enable_pin:  !PD4
microsteps: 32
rotation_distance: 8

# Motor-4
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accessory such as an MMU
#[stepper_]
#step_pin: PB8
#dir_pin: PB9
#enable_pin: PB7
#endstop_pin: PF3
#...

# Motor-8
[extruder]
step_pin: PA10
dir_pin: PA9
enable_pin: !PA15
microsteps: 16
rotation_distance: 3.6
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PF6 # HE0
sensor_pin:  PB0 # T0
sensor_type: PT1000
pullup_resistor: 2200
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 280

#[filament_switch_sensor material_0]
#switch_pin: PF1

#[filament_switch_sensor material_1]
#switch_pin: PC15

# Motor-7

# Motor-8
#[extruder3]
#step_pin: PA10
#dir_pin: PA9
#enable_pin: !PA15
#heater_pin: PF7 # HE3
#sensor_pin: PA7 # T3
#...

# Motor-9
#[extruder4]
#step_pin: PA8
#dir_pin: PC7
#enable_pin: !PC9
#...

# Motor-10
#[extruder5]
#step_pin: PG6
#dir_pin: PC6
#enable_pin: !PC8
#...

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type: ATC Semitec 104GT-2
#control: watermark
min_temp: 0
max_temp: 130




# ========== WENTYLATORY ==========

[heater_fan hotend_fan]
pin: PA6
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


[multi_pin part_cooling_pins]
pins: PA5, PA4

[fan]
pin: multi_pin:part_cooling_pins



[controller_fan electronics_fan]
pin: PA3
stepper: stepper_x, stepper_y, stepper_z
idle_timeout: 60
fan_speed: 1.0


[mcu]
serial: 

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

[display_status]

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set z = params.Z|default(10)|int %}
    BASE_PAUSE
    G91
    G1 Z{z} F600
    G90
    G1 X10 Y10 F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G91
    G1 Z-10 F600
    G90
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    M104 S0
    M140 S0
    G91
    G1 Z10 F600
    G90
    G1 X10 Y260 F6000
    M84
    BASE_CANCEL_PRINT


[printer]
kinematics: corexy
max_velocity: 500          #
max_accel: 15000         
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 8.0 #

########################################
# TMC5160 configuration
########################################

#[tmc5160 stepper_x]
#cs_pin: PG11
#spi_bus: spi4  
#spi_software_sclk_pin: PE12
#spi_software_mosi_pin: PE14
#spi_software_miso_pin: PE13
#sense_resistor: 0.075  
#diag1_pin: ^!PF3      
#run_current: 0.800  
#driver_SGT: 1           
#stealthchop_threshold: 0

[tmc5160 stepper_x] #M1
cs_pin: PG14           
spi_bus: spi4
sense_resistor: 0.075
run_current: 0.100
stealthchop_threshold: 0


#[tmc5160 stepper_x1]
#cs_pin: PG13
#spi_bus: spi4  
#run_current: 0.100  
#stealthchop_threshold: 0

[tmc5160 stepper_x1] #M9
cs_pin: PG8             
spi_bus: spi4
sense_resistor: 0.075   # Dodano dla bezpieczeństwa      
run_current: 0.650
stealthchop_threshold: 0

#[tmc2209 stepper_x1]
#uart_pin: PG13
#interpolate: False
#run_current: 0.100
#sense_resistor: 0.110
#stealthchop_threshold: 0

#[tmc5160 stepper_y]
#cs_pin: PG8
#spi_bus: spi4  
#spi_software_sclk_pin: PE12
#spi_software_mosi_pin: PE14
#spi_software_miso_pin: PE13
#sense_resistor: 0.075   
#run_current: 0.100
#driver_SGT: 1
#stealthchop_threshold: 0

[tmc5160 stepper_y]
cs_pin: PG11            # (Dawny M4)
spi_bus: spi4
run_current: 0.800
stealthchop_threshold: 0

#[tmc2209 stepper_y]
#uart_pin: PG8
#interpolate: False
#run_current: 0.100
#sense_resistor: 0.110
#stealthchop_threshold: 0

#[tmc5160 stepper_y1]
#cs_pin: PG14
#spi_bus: spi4  
#spi_software_sclk_pin: PE12
#spi_software_mosi_pin: PE14
#spi_software_miso_pin: PE13
#diag1_pin: ^!PF0
#sense_resistor: 0.075
#run_current: 0.800  
#driver_SGT: 1
#stealthchop_threshold: 0

[tmc5160 stepper_y1] #M2
cs_pin: PG13            
spi_bus: spi4
run_current: 0.100  
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: PG10
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: PG9
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[tmc2209 stepper_z2]
uart_pin:PD7
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PD6
interpolate: False
run_current: 0.350
sense_resistor: 0.110
stealthchop_threshold: 999999


[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG2, EXP1_2=PD15,
    EXP1_3=PD14, EXP1_4=PD13,
    EXP1_5=PD12, EXP1_6=PD11,
    EXP1_7=PD10, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG5, EXP2_4=PE11,
    EXP2_5=PG4, EXP2_6=PE14,
    EXP2_7=PG3, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: ^PB15
#control_pin: PB14

# Proximity switch
[probe]
pin: ^PC15
x_offset: 37    
y_offset: -1
#z_offset: 9.7
speed: 6.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.025
samples_tolerance_retries: 10
deactivate_on_each_sample: True
#[output_pin ps_on_pin]
#pin: PF13

#[output_pin pf12_pin]
#pin: PF12

#[neopixel my_neopixel_1]
#pin: PE10

#[neopixel my_neopixel_2]
#pin: PE9

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10


[mcu adxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_50445061287CB91C-if00

[adxl345]
cs_pin: adxl:gpio9
spi_software_sclk_pin: adxl:gpio10
spi_software_mosi_pin: adxl:gpio11
spi_software_miso_pin: adxl:gpio8

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20    # Środek stołu

[input_shaper]
# Wartości zostaną uzupełnione po kalibracji
#shaper_freq_x: 50
#shaper_freq_y: 50
#shaper_type: mzv
# ===========================================

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    M140 S{BED_TEMP}
    G90
    G28 ; Tutaj pobierze sondę i zbazuje wszystko
    
    M190 S{BED_TEMP}
    
    # Zamiast makra LEVEL_BED, użyj bezpośredniej komendy, 
    # bo sonda jest już na głowicy po G28
    Z_TILT_ADJUST 
    
    G28 Z ; Ponowne bazowanie Z (wykorzysta sondę, która już tam jest)
    
    DETACH_PROBE ; Dopiero teraz odkładamy
    
    BED_MESH_PROFILE LOAD=default
    
    # Grzanie i linia rozbiegowa
    G1 X10 Y40 Z10 F6000
    M109 S{EXTRUDER_TEMP}
    G1 Z0.28 F600
    G1 Y200 E15 F1500
    G92 E0

[z_tilt]
# Pozycje punktów mocowania silników Z (rzeczywiste pozycje śrub)
z_positions:
   -24, -12      # stepper_z  - przód-lewy
   164, 300       # stepper_z1 - tył-środek
    332, -12     # stepper_z2 - przód-prawy

    # Punkty do próbkowania (wewnątrz obszaru roboczego, uwzględniając probe offset)
points:
     0, 0        # przód-lewy  
     127, 260 # tył-środek
     260, 0    # przód-prawy 

speed: 150
horizontal_move_z: 15
retries: 8
retry_tolerance: 0.025


[gcode_macro _KLICKY_VARIABLES]
variable_dock_x: 318
variable_dock_y: 240
variable_dock_z: 20          # Wysokość podejścia do docka
variable_travel_speed: 6000  # Prędkość ruchu (mm/min)
variable_attach_speed: 1000  # Prędkość podłączania sondy
variable_probe_attached: False
gcode:


[gcode_macro ATTACH_PROBE]
description: Pobiera sonde Klicky z weryfikacja polaczenia i ruchem poprawiajacym styk
gcode:
    {% set V = printer["gcode_macro _KLICKY_VARIABLES"] %}
    
    # 1. Sprawdz czy sonda nie jest juz na glowicy (logika programowa)
    {% if not V.probe_attached %}
        G90                                     ; Tryb absolutny
        { action_respond_info("Pobieranie sondy Klicky...") }
        
        # 2. Ruch do docka
        G1 Z{V.dock_z} F600                     ; Podnies na wysokosc docka
        G1 X{V.dock_x} Y{V.dock_y - 30} F{V.travel_speed} ; Przed dock
        G1 Y{V.dock_y} F{V.attach_speed}        ; Wjazd w dock
        
        # 3. Ruch wyciagajacy z "wiggle" (wstrzasem) dla lepszego styku magnesow
        G1 X{V.dock_x - 40} F{V.attach_speed}   ; Wyjazd w bok
        G1 X{V.dock_x - 60} F{V.attach_speed}   ; Lekki ruch powrotny (ustalenie magnesow)
        G1 X{V.dock_x - 50} F{V.attach_speed}   ; Pozycja wyjsciowa
        G1 Y{V.dock_y - 30} F{V.travel_speed}   ; Odjazd od docka
        
        # 4. Weryfikacja elektryczna styku
        QUERY_PROBE                             ; Sprawdz stan fizyczny pinu
        _CHECK_PROBE_CONNECTION
    {% else %}
        { action_respond_info("Sonda juz jest na glowicy. Pomijam dock.") }
    {% endif %}

[gcode_macro _CHECK_PROBE_CONNECTION]
description: Podmakro sprawdzajace czy magnesy zamknely obwod
gcode:
    # Jesli sonda jest OTWARTA (open), to znaczy ze magnesy kontaktuja (logika NC)
    # Uwaga: W wiekszosci Klicky stan 'open' oznacza podlaczona sonde.
    # Jesli QUERY_PROBE zwraca 'triggered' przy podlaczonej sondzie, zmien logic ponizej.
    {% if printer.probe.last_query %}
        { action_raise_error("BLAD STYKU: Sonda pobrana, ale magnesy nie kontaktuja! Sprawdz czystosc magnesow.") }
    {% else %}
        SET_GCODE_VARIABLE MACRO=_KLICKY_VARIABLES VARIABLE=probe_attached VALUE=True
        { action_respond_info("Sonda podlaczona i zweryfikowana elektrycznie.") }
    {% endif %}

[gcode_macro DETACH_PROBE]
gcode:
    {% set V = printer["gcode_macro _KLICKY_VARIABLES"] %}
    # Sprawdź, czy sonda JEST podłączona
    {% if V.probe_attached %}
        G90                                ; Tryb absolutny
        G1 Z{V.dock_z} F600               ; Podnieś na wysokość docka
        G1 X{V.dock_x - 50} Y{V.dock_y} F{V.travel_speed}  ; Jedź na lewo od docka
        G1 X{V.dock_x} F{V.attach_speed}  ; Wjedź w dock (odłóż sondę)
        G1 Y{V.dock_y - 50} F{V.travel_speed}  ; Wyjedź do przodu (zostaw sondę)
        # Ustaw zmienną na False po odłożeniu
        SET_GCODE_VARIABLE MACRO=_KLICKY_VARIABLES VARIABLE=probe_attached VALUE=False
        { action_respond_info("Sonda Klicky odlozona") }
    {% else %}
        { action_respond_info("Sonda Klicky juz byla odlozona - pomijam") }
    {% endif %}

[gcode_macro PROBE_ZNACZNIK_TRUE]
gcode:
    SET_GCODE_VARIABLE MACRO=_KLICKY_VARIABLES VARIABLE=probe_attached VALUE=True

[gcode_macro PROBE_ZNACZNIK_FALSE]
gcode:
    SET_GCODE_VARIABLE MACRO=_KLICKY_VARIABLES VARIABLE=probe_attached VALUE=False


[force_move]
enable_force_move: True

[homing_override]
axes: xyz
gcode:
  # 1. Definicja parametrów i prądów
  {% set RUN_CURRENT = 1.100 %}
  {% set HOME_CURRENT_X = 0.650 %}
  {% set HOME_CURRENT_Y1 = 0.800 %}
  {% set HELPER_CURRENT = 0.100 %}

  # Sprawdź, czy użytkownik wywołał konkretne osie (np. G28 Z)
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  # 2. Bezpieczne podniesienie Z (wymuszone)
  SET_KINEMATIC_POSITION Z=0
  G1 Z15 F600

  # 3. Bazowanie Y (tylko jeśli G28, G28 Y lub G28 XY)
  {% if home_all or 'Y' in params %}
    M117 Bazowanie Y...
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HELPER_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={HOME_CURRENT_Y1}
    G28 Y
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y1 CURRENT={RUN_CURRENT}
  {% endif %}

  # 4. Bazowanie X (tylko jeśli G28, G28 X lub G28 XY)
  {% if home_all or 'X' in params %}
    M117 Bazowanie X...
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={HELPER_CURRENT}
    G28 X
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_x1 CURRENT={RUN_CURRENT}
  {% endif %}

  # 5. Bazowanie Z (tylko jeśli G28 lub G28 Z)
  {% if home_all or 'Z' in params %}
    M117 Bazowanie Z...
    # Sprawdź czy X i Y są już zbazowane (wymagane dla bezpiecznego dojazdu na środek)
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes %}
      G28 X Y # Jeśli nie, zbazuj je najpierw automatycznie
    {% endif %}
    
    ATTACH_PROBE            # Pobierz sondę
    G90
    G1 X152 Y130 F6000      # Środek stołu
    G28 Z
    G1 Z10 F600
    # Tutaj NIE dodajemy DETACH_PROBE, żeby sonda została do LEVEL_BED
  {% endif %}
           




########################################
# LEVEL_BED - Wyrównanie Z z 3 silnikami
########################################

[gcode_macro LEVEL_BED]
description: Wyrównanie stołu - wywołuj zaraz po G28 (sonda już podłączona)
gcode:
  # Sprawdź czy wszystkie osie są zbazowane
  {% if not "xyz" in printer.toolhead.homed_axes %}
    { action_raise_error("Najpierw zbazuj wszystkie osie! Użyj: G28") }
  {% endif %}
  
  G90                        ; Tryb absolutny
  G1 Z20 F600               ; Podnieś na bezpieczną wysokość
  Z_TILT_ADJUST             ; Wyrównaj 3 silniki Z
  G1 Z20 F600               ; Podnieś po wyrównaniu
 # DETACH_PROBE              ; Odłóż sondę



[exclude_object]

[bed_mesh]
speed: 300               # Prędkość poruszania się między punktami
horizontal_move_z: 15    # Podniesienie głowicy (musi być wyższe niż bezpiecznik Klicky!)
# Obliczone bezpieczne granice:
mesh_min: 42, 5         # Start (X musi być większy niż 28!)
mesh_max: 290, 260       # Koniec (Y musi być mniejszy niż 264!)
probe_count: 5, 5        # Siatka 5x5 punktów (wystarczy dla tego rozmiaru)
fade_start: 1.0
fade_end: 10.0           # Po 10mm wysokości korygowanie zanika (żeby góra wydruku była płaska)
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2, 2
algorithm: bicubic       # Lepsza interpolacja dla CoreXY

[gcode_macro GENERATE_BED_MESH]
description: Pobiera sondę, robi mapę stołu i odkłada sondę
gcode:
    # 1. Sprawdź czy osie są zbazowane
    {% if not "xyz" in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    # 2. Wyrównaj stół (Z-Tilt) jeśli nie było robione
    # (Opcjonalne, ale zalecane przed meshem)
    # Z_TILT_ADJUST 
    # G28 Z

    # 3. Pobierz sondę
    ATTACH_PROBE

    # 4. Wykonaj mapowanie
    BED_MESH_CALIBRATE PROFILE=default

    # 5. Odłóż sondę
    DETACH_PROBE

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.384
#*# pid_ki = 1.332
#*# pid_kd = 94.014
#*#
#*# [probe]
#*# z_offset = 9.890
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.539
#*# pid_ki = 0.878
#*# pid_kd = 1582.081
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 79.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 67.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.002237, -0.012763, 0.018487, 0.019737, -0.017763
#*# 	-0.052763, -0.064013, -0.017763, -0.095263, -0.154013
#*# 	-0.122763, -0.067763, -0.044013, -0.081513, -0.204013
#*# 	-0.106513, -0.067763, -0.015263, -0.062763, -0.216513
#*# 	-0.130263, -0.030263, -0.002763, -0.050263, -0.150263
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 42.0
#*# max_x = 290.0
#*# min_y = 5.0
#*# max_y = 260.0
